#main-wrapper
{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    border: 5px solid #888;
    border-radius: 12px;
}
#header {
margin-top: -5px;
margin-left: -5px;
width: 1000px;
margin-bottom: 15px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
border: 5px solid #888;
background-color: #b6ff00;
}
button {
padding: 5px 15px;
margin:5px 15px;
}
#menu-content
{
    margin: 0 auto;
    width: 800px;
}

#app ul
{
    text-align: left;
}

ul
{
    margin: 0;
}

.clearfix
{
    overflow: hidden; /* Clearfix! */
    zoom: 1;  /* Triggering "hasLayout" in IE */
    display: block;
}

/* My Orders */
.box-wrapper
{
    float: left;
    padding: 5px;
    margin: 2px;
    border: 2px solid black;
}

.box-wrapper:hover
{
    cursor: pointer;
    background-color: lightblue;
}

.order-box
{
    padding: 5px;
    width: 330px;
    height: 250px;
    overflow: scroll;
    border: 1px solid black;
    background-color:white;
}

/* Login */
#login-set
{
    margin: 0 auto;
    width: 250px;
}

